/Gui_AgregarElementos_01/nbproject/private/
/Gui_AgregarElementos_01/build/
/frame/nbproject/private/
/frame/build/
/eventolbtn/nbproject/private/
/Ejercicios/nbproject/private/
/Ejercicios/build/
/eventolbtn/build/
/GBL/nbproject/private/
/GBLayout/nbproject/private/
/GBLayout/build/
/jtab/nbproject/private/
/jtab/build/
