/Gui_AgregarElementos_01/nbproject/private/
/Gui_AgregarElementos_01/build/
/frame/nbproject/private/
/frame/build/
/eventolbtn/nbproject/private/
/Ejercicios/nbproject/private/
/Ejercicios/build/
/eventolbtn/build/
/GBL/nbproject/private/
/GBLayout/nbproject/private/
/GBLayout/build/
/jtab/nbproject/private/
/jtab/build/
/LibGraph/nbproject/private/
/LibGraph/dist/
/LibGraph/build/
/GraficosCRT/nbproject/private/
/GraficosCRT/build/
/GraficosCRT2/nbproject/private/
/GraficosCRT2/build/
/fecha/nbproject/private/
/Vista/nbproject/private/
/appFecha/nbproject/private/
/LibFecha/dist/
/LibFecha/build/
/Vista/build/
/LibPerson/nbproject/private/
/Practica7_ComponenteNombre/nbproject/private/
/Practica7_ComponenteNombre/dist/
/Practica7_ComponenteNombre/build/
/TextBoxExt/nbproject/private/
/TextBoxExt/dist/
/TextBoxExt/build/
/Practica7_Boton3D/nbproject/private/
/Practica7_Boton3D/build/
/Practica7_Boton3D/dist/
/Practica8_LigaPrograma/nbproject/private/
/Practica8_LigaPrograma/build/
/Practica8_LigaPrograma/dist/
